.NoteForm input[type="text"] {
padding: 20px;
}

.NoteForm button{
    padding: 20px;
    color: #fff;
    background-color: #019875;
    border: none;
}

.NoteForm button:hover {
    background-color: #02BAB5;
}